<ion-content class="login">
  <div class="login__card">
    <ion-icon class="login__icon" name="person-circle-outline"></ion-icon>
    <ion-text>
      <h1 class="login__title">Bienvenido</h1>
    </ion-text>

    <div class="login__fields">
      <ion-item class="login__item" lines="none">
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input
          type="text"
          placeholder="Ingresa tu usuario"
          autocomplete="username"
        ></ion-input>
      </ion-item>

      <ion-item class="login__item" lines="none">
        <ion-label position="stacked">Contraseña</ion-label>
        <div class="login__password">
          <ion-input
            [type]="isPasswordVisible ? 'text' : 'password'"
            placeholder="Ingresa tu contraseña"
            autocomplete="current-password"
          ></ion-input>
          <ion-button
            class="login__toggle"
            fill="clear"
            size="small"
            type="button"
            aria-label="Mostrar contraseña"
            (click)="togglePasswordVisibility()"
          >
            <ion-icon
              [name]="isPasswordVisible ? 'eye-off-outline' : 'eye-outline'"
            ></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </div>

    <ion-button expand="block" class="login__submit">Ingresar</ion-button>
  </div>
</ion-content>
